@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');


/* This is my comment
there are many like it
but this one is mine! */

/* Review of CSS syntax:

selection {
  property: value;
  property: value;
}

*/

/* Type selector */

P { /* Select all P elements */
  font-size: 16px, 1em; /* 16px, ?pt, 100%, 1em, 2rem */
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", "Serif";
  font: normal 0.75em/1.5em "Elsie Swash Caps", "Cursive";
  color: turquoise;
  text-align: right;
}

/* Class selector (applied to as many elements or types of elements as your like) */
.milk-text { /* Select elements with a class attribute equal to milk-text */
  font: bold 2.6em "Elsie Swash Caps", "Cursive";
  color: white;
  text-shadow: 0 2px 3px #000;
  
}
