/* This is my comment
there are many like it
but this one is mine! */

/* Review of CSS syntax:

selection {
  property: value;
  property: value;
}

*/

/* Type selector */

P { /* Select all P elements */
  font-size: 16px; /* 16px, ?pt, 100%, 1em, 2rem */
}

